body{
  font-family: Inter Variable,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
canvas {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: -1;
}
.MainTitle {
  width: auto;
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(-90deg, #9333ea, #ef4444);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; /* 일부 브라우저에서도 적용될 수 있도록 추가 */
  -webkit-text-fill-color: transparent; /* 웹킷 브라우저에서 투명 텍스트 색상 설정 */
}
