@font-face {
  font-family: 'Pretendard';
  src:url('/Resource/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 400;
}
@keyframes ani{
  0%{transform:translate(0,0);}
  50%{transform:translate(0,-25px);}
  100%{transform:translate(0,0);}
}


canvas {
    background-color: white;
    width: 102%;
    height: 900px;
    position:fixed;
    display:flex;
    z-index: -1;
    margin-top: -200px;
    margin-bottom: 1px solid red;
}
.startField{
  background-color: white;
    width: 102%;
    height: 900px;
    position:fixed;
    display:flex;
    z-index: -1;
    margin-top: -200px;
    margin-bottom: 1px solid red;
}
.MainTitle {
  margin: auto;
  width: 800px;
  text-align: center;
  margin-top: 200px;
  height: 100%;
}
.MainTitle p{
  font-family: "Pretendard", sans-serif;
  font-size: 100px;
  font-weight:1000;
  height: auto;
  margin-top: 10px;
  background: linear-gradient(to bottom right,#4f46e5, #9333ea, #ef4444);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; /* 일부 브라우저에서도 적용될 수 있도록 추가 */
  -webkit-text-fill-color: transparent; /* 웹킷 브라우저에서 투명 텍스트 색상 설정 */
  line-height: 100px;
  letter-spacing: -5px;
}
.MainTitle_left{
  float: left;
  margin-left: -30px;
}
.MainTitle_left img{
  width: 170px;
}
.MainTitle_right{
  float: right;
  margin-right: -100px;
  animation: ani 6s infinite linear;
}
.MainTitle_right img{
  margin-top: 40px;
  width: 490px;
  margin-right: 15px;
}
.bottom{
  width: 100%;
  margin-top: 600px;
  height: 1200px;
}
.bottom_nav{
  display: inline-flex;
  width: 100%;
  height: 70px;
}
.bottom_nav img{
  width: 40px;
  height: 40px;
  margin: auto;
  justify-content: left;
  margin-left: 10px;
  border-bottom: 1px solid #dadada;
}
.bottom_body{
  width: 100.5%;
  height: 100%;
  background-color: rgb(254, 254, 254);
  align-items: center;
  margin: auto;
  position: relative;
}
.bottom_body img{
  width: 210px;
  height: 210px;
  margin: auto;
  display: block;
}
.bottom_main{
  padding-top: 100px;
  height: 100%;
  width: 100%;
}
.bottom_nav p{
  font-size: 17px;
  margin-left: 25px;
  justify-content: right;
  font-weight: 300;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  &:hover{
    color: #ef4444;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
  }
}
.nav_right{
  padding-top: 10px;
  display: inline-flex;
  margin-right: 0px;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.bottom_nav_visible{
  background-color: #6d2fe9;
}
.div_scroll{
  transition-duration: 0.3s;
  transition-timing-function: ease;
  width: 100.5%;
  top: 0px;
  position: sticky;
  z-index: 100;
}
.bottom_title{
  padding-top: 12px;
  background: linear-gradient(to bottom right,#4f46e5, #9333ea, #ef4444);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 70px;
  width: 640px;
  height: 75px;
  margin: auto;
  font-weight: 900;
  display: block;
  font-family: "Pretendard", sans-serif;
  letter-spacing: -2px;
}
.mdi--weather-night {
  margin-left: 20px;
  top: 23px;
  opacity: 1;
  width: 25px;
  height: 25px;
  position: sticky;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3zm3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95zm-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31'/%3E%3C/svg%3E");
}
footer{
  width: 100.5%;
  height: 300px;
  background-color: rgb(254, 254, 254);
}